<% layout('layouts/boilerplate') %>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img class="img-fluid" src="<%= campground.image %>" alt="campground">
<h3>Price : <%= campground.price %> USD</h3>
<p>Description : <%= campground.description %></p>
<a class="btn btn-warning my-2" href="/campgrounds/<%= campground._id %>/edit">edit</a>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>
<h2 class="mt-3">Leave a review</h2>
<form action="">
  <div class="mb-3">
    <label class="form-label" for="rating">Rating :</label>
    <input class="form-range" type="range" name="reviews[rating]" min="0" max="5" id="rating">
  </div>
  <div class="mb-3">
    <label class="form-label" for="reviewbody">Reviews :</label>
  <textarea class="form-control" name="reviews[body]" id="reviewbody" cols="30" rows="3"></textarea>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
<a class="btn btn-secondary my-2" href="/campgrounds">>>>Back to All Campgrounds</a>